* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;

  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #383838;
}

.chat-open {
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background: linear-gradient(45deg, hsl(40, 75%, 50%), hsl(53, 75%, 50%));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  transition: all 0.3s ease-in-out;

  position: absolute;
  bottom: 20px;
  right: 20px;

  border: none;
  outline: none;

  font-size: large;
}

.chat-open:hover {
  box-shadow: 0 0 10px hsl(40, 75%, 50%);
  transform: scale(1.25);
}

.chat-open:active {
  box-shadow: 0 0 10px hsl(40, 75%, 50%);
  transform: scale(1);
}

.chat-open.hidden {
  opacity: 0;
}

.chat-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 300px;
  height: 500px;
  border-radius: 10px;

  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;

  transition: all 0.3s ease-in-out;

  overflow: hidden;
}

.chat-window.hidden {
  transform: translateX(350px);
}

.chat-window .chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  width: 100%;
  height: 35px;
  padding: 0 10px;

  background: linear-gradient(45deg, hsl(40, 75%, 50%), hsl(53, 75%, 50%));
  border-radius: 10px 10px 0 0;

  z-index: 3;
}

.chat-window .chat-header .chat-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000000;
}

.chat-window .chat-header .chat-close {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ff0000;

  background: none;
  outline: none;
  border: none;

  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.chat-window .chat-header .chat-close:hover {
  color: #ff4d4d;
}

.chat-window .chat-header .chat-close:active {
  color: #ff0000;
}

.chat-window .chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 5px;
  flex: 2;

  width: 100%;
  height: 400px;
  padding: 10px;
}

.chat-window .chat .message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;

  font-size: 0.9rem;
  padding: 10px;
}

.chat-window .chat .message .message-content {
  padding: 10px;
}

.chat-window .chat .message .message-content.recipient {
  justify-content: flex-start;
  align-items: center;

  background: linear-gradient(45deg, hsl(40, 75%, 50%), hsl(53, 75%, 50%));
  border-radius: 10px 10px 10px 0px;
}

.chat-window .chat .message .message-content.sender {
  justify-content: flex-end;
  align-items: center;

  background: #e0e0e0;
  border-radius: 10px 10px 0px 10px;
}

.chat-window .chat .message.recipient {
  justify-content: flex-start;
  align-items: flex-start;
}

.chat-window .chat .message.sender {
  justify-content: flex-end;
  align-items: flex-end;
}

.chat-window .chat .message .message-content .message-text {
  font-size: 0.9rem;
  font-weight: 500;
  color: #000000;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.chat-window .chat .message .message-text {
  font-size: 0.8rem;
  font-weight: 400;
  color: #000000;
}

.chat-window .chat .message .message-time {
  font-size: 0.75rem;
  font-weight: 400;
  color: #aeaeae;
}

.chat-window .chat .info {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  font-size: 0.75rem;
  font-weight: 300;
  color: #aeaeae;
}

.chat-window .chat-form {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  background: #dddddd;
}

.chat-window .chat-form .chat-input {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 40px;

  padding: 0 10px;

  background: none;
  outline: none;
  border: none;
}

.chat-window .chat-form .chat-send {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background: none;
  outline: none;
  border: none;

  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.clicked {
  transform: rotate(360deg);
}
